* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.container {
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

nav {
    width: 100%;
    background-color: rgb(119, 5, 5);
    color: #fff;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.logo-box {
    float: left;
}

.logo-box .logo {
    margin-left: 4.5rem;
    font-size: 2.1rem;
    color: #fff;
    transition: 0.4s color;
}

.nav-links {
    float: right;
}

.nav-links .nav-item {
    float: left;
    margin-left: 4.2rem;
}

.nav-links .nav-link {
    font-size: 2.1rem;
    color: #fff;
    display: block;
    transition: 0.4s color;
}

.nav-links .nav-link:hover {
    color: black;
}

.nav-links .nav-icon {
    display: none;
}

.logo-box .logo:hover {
    color: black;
}

.kurallar-kutusu{
    background-color: rgb(119, 5, 5);
    color: #fff;
    border-radius: 8px;
    margin: 3rem;
    height: 72rem;
}

.kural{
    float: left;
    margin-left: 1rem;
}

.kurallar{
    margin: 4rem;
    list-style: disc;
    font-size: 2rem;
}

@media only screen and (max-width: 2560px) {

    html {
        font-size: 16px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 3rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 9.5rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 75rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.3rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1440px) {

    html {
        font-size: 10px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 2rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 7.7rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 77rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1393px) {

    html {
        font-size: 10px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 2rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 7.1rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 80rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1353px) {

    html {
        font-size: 10px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 2rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 6.6rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 80rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1311px) {

    html {
        font-size: 10px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 2rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 6rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 80rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1293px) {

    html {
        font-size: 9.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 0.5rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 6.8rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 80rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1260px) {

    html {
        font-size: 9.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 0.5rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 6.4rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 80rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1230px) {

    html {
        font-size: 9.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 0.5rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 6rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 80rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1208px) {

    html {
        font-size: 9.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 0.5rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 5.7rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 81rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1167px) {

    html {
        font-size: 9.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
        margin-left: 0.5rem;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 5.2rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 84rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1134px) {

    html {
        font-size: 9.2px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 5.2rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 84rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1102px) {

    html {
        font-size: 9px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 5.1rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 84rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4.3rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1060px) {

    html {
        font-size: 9px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 4.5rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 86rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1024px) {

    html {
        font-size: 9px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 4rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 86rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 1000px) {

    html {
        font-size: 8px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 5.5rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 83rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 960px) {

    html {
        font-size: 8px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        margin-left: 5.4rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 4.4rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 930px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        margin-left: 4.4rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 5.4rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 83rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 890px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 4.7rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 861px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 4.2rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 838px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: left;
    }

    .logo-box .logo {
        margin-left: 3.3rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: right;
    }

    .nav-links .nav-item {
        float: left;
        margin-left: 4rem;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        margin-top: 0rem;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .nav-links .nav-icon {
        display: none;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 837px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 768px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 744px) {

    html {
        font-size: 7.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 700px) {

    html {
        font-size: 6.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 83rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 675px) {

    html {
        font-size: 6.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 84rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 633px) {

    html {
        font-size: 6px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 85rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 601px) {

    html {
        font-size: 6px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 8px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 86rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 425px) {

    html {
        font-size: 5.5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 6px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 100rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 375px) {

    html {
        font-size: 5.2px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 102rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}

@media only screen and (max-width: 320px) {

    html {
        font-size: 5px;
    }

    .clearfix::after {
        content: "";
        display: block;
        clear: both;
    }

    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    nav {
        width: 100%;
        background-color: rgb(119, 5, 5);
        color: #fff;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .logo-box {
        float: none;
        text-align: left;
    }

    .logo-box .logo {
        margin-left: 4.5rem;
        font-size: 2.1rem;
        color: #fff;
        transition: 0.4s color;
    }

    .nav-links {
        float: none;
    }

    .nav-links .nav-item {
        float: none;
        text-align: left;
    }

    .nav-links .nav-link {
        font-size: 2.1rem;
        color: #fff;
        display: block;
        transition: 0.4s color;
        padding-top: 2rem;
        margin-left: 0.7rem;
    }

    .nav-links .nav-icon {
        display: block;
        position: absolute;
        top: 5px;
        right: 25px;
    }

    .nav-links.responsive li:not(:first-child){
        display: none;
    }

    .nav-links .nav-link:hover {
        color: black;
    }

    .logo-box .logo:hover {
        color: black;
    } 

    .kurallar-kutusu{
        background-color: rgb(119, 5, 5);
        color: #fff;
        border-radius: 8px;
        margin: 3rem;
        height: 115rem;
    }
    
    .kural{
        float: left;
        margin-left: 1rem;
    }
    
    .kurallar{
        margin: 4rem;
        list-style: disc;
        font-size: 2.2rem;
    }

    footer {
        color: #fff;
        margin-top: 4rem;
        background-color: black;
    }

    footer p{
        padding: 1rem;
        font-size: 2rem;
        margin-left: 6rem;
    }
}